<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Điện thoại</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header class="main-header">
    <h1>Shop Điện thoại</h1>
    <nav class="main-nav">
        <a th:href="@{/}">Trang chủ</a> |
        <a th:href="@{/products}">Sản phẩm</a> |
        <a th:href="@{/cart}">Giỏ hàng</a> |
        <a th:href="@{/admin/login}">Admin</a>
    </nav>
</header>

<section class="product-section">
    <h2>Sản phẩm nổi bật</h2>

    <div class="product-grid-container">

        <div class="product-item" th:each="p: ${products}">
            <a th:href="@{/products/{id}(id=${p.maSP})}">
                <img th:src="@{'/uploads/' + ${p.hinhAnh}}" alt="Ảnh sản phẩm"/>

                <div class="product-name" th:text="${p.tenSP}"></div>

                <div class="product-price">
                    <span th:text="${#numbers.formatInteger(p.gia, 0, 'COMMA')}"></span>
                    <span style="text-decoration: underline;">₫</span>
                </div>
            </a>
        </div>
    </div>
</section>
</body>
</html>