<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8"><title>Form</title></head><body>
<h1 th:text="${product.maSP == null ? 'Thêm sản phẩm' : 'Sửa sản phẩm'}"></h1>
<form th:action="@{/admin/products/save}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{maSP}" />
    <div>Tên: <input th:field="*{tenSP}" /></div>
    <div>Giá: <input th:field="*{gia}" /></div>
    <div>Số lượng: <input th:field="*{soLuong}" /></div>
    <div>Danh mục:
        <select th:field="*{danhMuc.maDMSP}">
            <option th:each="dm: ${dms}" th:value="${dm.maDMSP}" th:text="${dm.tenDMSP}"></option>
        </select>
    </div>
    <div>Ảnh: <input type="file" name="imageFile"/></div>
    <button type="submit">Lưu</button>
</form>
</body></html>
